---
http_interactions:
- request:
    method: get
    uri: https://api.webmaster.yandex.net/v4/user/845457627/hosts/http:orel.test-pulscen.ru:80/turbo/tasks?mode=DEBUG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/rss+xml
      Authorization:
      - OAuth AQAAAAAyZKjbAAUEelU5CLeOe0JAu3i-GsszWNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"tasks":[{"task_id":"3cebaf10-7d82-11e9-a489-6f1e33256dd4","created_at":"2019-05-23T20:43:13.281+03:00","load_status":"OK"}],"count":1}'
  recorded_at: Tue, 04 Jun 2019 08:36:48 GMT
recorded_with: VCR 5.0.0
