---
http_interactions:
- request:
    method: get
    uri: https://api.webmaster.yandex.net/v4/user/845457627/hosts/http:orel.test-pulscen.ru:80/turbo/tasks/3cebaf10-7d82-11e9-a489-6f1e33256dd4?mode=DEBUG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/rss+xml
      Authorization:
      - OAuth AQAAAAAyZKjbAAUEelU5CLeOe0JAu3i-GsszWNU
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"mode":"DEBUG","load_status":"OK","turbo_pages":[{"link":"https://orel.test-pulscen.ru/products/brusok_20kh30_2m_51540347","preview":"https://yandex.ru/turbo?text=turbo","title":""}],"errors":[],"stats":{"pages_count":1,"errors_count":0,"warnings_count":0}}'
  recorded_at: Tue, 04 Jun 2019 09:30:53 GMT
recorded_with: VCR 5.0.0
