---
http_interactions:
- request:
    method: get
    uri: https://api.webmaster.yandex.net/v4/user/0/hosts/http:orel.test-pulscen.ru:80/turbo/uploadAddress?mode=DEBUG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/rss+xml
      Authorization:
      - OAuth AQAAAAAyZKjbAAUEelU5CLeOe0JAu3i-GsszWNU
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"field_name":"host-id","field_value":null,"error_message":"Error validating
        field \"host-id\": This field is required","error_code":"FIELD_VALIDATION_ERROR"}'
  recorded_at: Tue, 04 Jun 2019 15:10:31 GMT
recorded_with: VCR 5.0.0
